body {
  background-color: white;
}

#auth {
  height: 100vh;
  overflow-x: hidden;
}
#auth #auth-right {
  height: 100%;
  background: linear-gradient(90deg, #2d499d, #3f5491);
  background-image: url("../../images/bg/backgroud.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#auth #auth-left {
  padding: 3rem 8rem;
}
#auth #auth-left .auth-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#auth #auth-left .auth-subtitle {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #a8aebb;
}
#auth #auth-left .auth-logo {
  margin-bottom: 3rem;
}
#auth #auth-left .auth-logo img {
  height: 5rem;
}
@media screen and (max-width: 767px) {
  #auth #auth-left {
    padding: 5rem;
  }
}
